body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.juGrid{
  background-color: transparent;
}
.juGrid .selected{
  background-color: #345; 
  color: white;
}

.juGrid .juPager select{
  margin: 0 5px;
}